<% if categoryNum == 1 %>
  <h1>Start</h1>
<% elsif categoryNum == 2 %>
  <h1>Stop</h1>
<% elsif categoryNum == 3 %>
  <h1>Continue</h1>
<% elsif  categoryNum == 4 %>
  <h1>Aha</h1>  
<%end%>
<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :retro_id %>
  </div>
  <div class="field">
    
    <%= f.hidden_field :category_id, :value => categoryNum.to_i %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
