<p id="notice"><%= notice %></p>

<p>
  <b>Sprint:</b>
  <%= @retro.sprint %>
</p>

<p>
  <b>Team:</b>
  <%= @retro.team_id %>
</p>

<%= render('notes/form', :categoryNum => 1) %>
<%= render('notes/form', :categoryNum => 2) %>
<%= render('notes/form', :categoryNum => 3) %>
<%= render('notes/form', :categoryNum => 4) %>

<%= link_to 'Edit', edit_retro_path(@retro) %> |
<%= link_to 'Back', retros_path %>
