<p id="notice"><%= notice %></p>

<p>
  <b>Sprint:</b>
  <%= @retro.sprint %>
</p>

<p>
  <b>Team:</b>
  <%= @retro.team_id %>
</p>

<%= render('notes/form', :noteType => "Start") %>
<%= render('notes/form', :noteType => "Stop") %>
<%= render('notes/form', :noteType => "Continue") %>
<%= render('notes/form', :noteType => "AHA") %>

<%= link_to 'Edit', edit_retro_path(@retro) %> |
<%= link_to 'Back', retros_path %>
